<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="view(title, content)">

<head>
<meta charset="UTF-8">

<title th:replace="${title}">Game Store</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<!-- BANNER -->
	<div class="top-banner">
		<img src="/images/banner.png" alt="Banner">
	</div>

	<!-- MENU -->
	<nav th:replace="~{/shared/menu :: menu}"></nav>

	<!-- CONTENT -->
	<main th:replace="${content}" class="main-content"></main>

	<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Về Game Store</h4>
            <p>Nền tảng cung cấp game bản quyền hàng đầu. Chúng tôi cam kết mang lại trải nghiệm mua sắm an toàn, nhanh chóng và giá cả cạnh tranh nhất thị trường.</p>
        </div>

        <div class="footer-column">
            <h4>Liên kết nhanh</h4>
            <ul style="color:white">
                <li><a th:href="@{/}">Trang chủ</a></li>
                <li><a th:href="@{/cart/view}">Giỏ hàng của bạn</a></li>
                <li><a th:href="@{/account/profile}">Thông tin tài khoản</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Thông tin hỗ trợ</h4>
            <ul>
                <li>📍 Địa chỉ: Quận 12, TP. Hồ Chí Minh</li>
                <li>📧 Email: gamestore@gmail.com</li>
                <li>📞 Hotline: 0909 999 999</li>
                <li>⏰ Giờ làm việc: 8:00 – 22:00</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <h4>🎮 GAME STORE</h4>
        <p>© 2026 Game Store. All rights reserved. Designed for Gamers.</p>
    </div>
</footer>


</body>
</html>
